In [15]:
import pandas as pd

data = pd.read_excel("Hours Spent on Facebook.xlsx")
data.head()

   Customer   Hours spent on Facebook on Mobile
0          1                           4.092475
1          2                           7.233371
2          3                           7.455792
3          4                           7.253503
4          5                           2.249682

In [16]:
data["Hours spent on Facebook on Mobile"].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      4.092475
1      7.233371
2      7.455792
3      7.253503
4      2.249682
         ...
97     3.748613
98     8.130037
99     1.433601
100    8.507827
101    8.153064
Name: Hours spent on Facebook on Mobile, Length: 102, dtype: float64>

In [17]:
data["Hours spent on Facebook on Mobile"].std

<bound method NDFrame._add_numeric_operations.<locals>.std of 0      4.092475
1      7.233371
2      7.455792
3      7.253503
4      2.249682
         ...
97     3.748613
98     8.130037
99     1.433601
100    8.507827
101    8.153064
Name: Hours spent on Facebook on Mobile, Length: 102, dtype: float64>

In [18]:
#We would like to know the mean of the total population. Calculate the 95% confidence interval.

t = 1.96
mean = data["Hours spent on Facebook on Mobile"].mean()
std = data["Hours spent on Facebook on Mobile"].std()
n = data["Hours spent on Facebook on Mobile"].count()

E = t*(std/n**0.5)
print(E)

0.5781144084235117

In [19]:
data = pd.read_excel("Monthly spending on adwords.xlsx")
data.head()

   Monthly spending
0        562.460391
1        382.543660
2        947.684175
3        425.084351
4        546.562302

In [20]:
t = 1.96
mean = data["Monthly spending"].mean()
std = data["Monthly spending"].std()
n = data["Monthly spending"].count()

E = t*(std/n**0.5)
print(E)

89.40159657068098