In [189]:
import pandas as pd

data = pd.read_csv("Export Max. journalier moy. hor. - O₃ - 2025-01-14 00_00 - 2025-01-14 20_00.csv", sep = ";")
data.head()

,Date de début,Date de fin,Organisme,code zas,Zas,code site,nom site,type d'implantation,Polluant,type d'influence,...,valeur,valeur brute,unité de mesure,taux de saisie,couverture temporelle,couverture de données,code qualité,validité,Latitude,Longitude
0,2025/01/14 00:00:00,2025/01/14 14:00:00,GWAD'AIR,FR01ZRE01,ZR GUADELOUPE,FR37038,SXM Marigot,Urbaine,O3,Fond,...,61.7,61.675,µg/m3,100.0,100,100.0,R,1,18.070114,-63.081481
1,2025/01/14 00:00:00,2025/01/14 14:00:00,MADININAIR,FR02ZAR01,ZAR FORT-DE-FRANCE,FR39009,Lamentin,Urbaine,O3,Fond,...,45.4,45.400,µg-m3,100.0,100,100.0,A,1,14.610653,-61.002586
2,2025/01/14 00:00:00,2025/01/14 14:00:00,MADININAIR,FR02ZRE01,ZR MARTINIQUE,FR39014,Sainte_Luce,Périurbaine,O3,Fond,...,69.0,68.975,µg-m3,100.0,100,100.0,A,1,14.468869,-60.927417
3,2025/01/14 00:00:00,2025/01/14 14:00:00,MADININAIR,FR02ZAR01,ZAR FORT-DE-FRANCE,FR39016,Robert Bourg,Urbaine,O3,Fond,...,55.3,55.250,µg-m3,100.0,100,100.0,A,1,14.678025,-60.939056
4,2025/01/14 00:00:00,2025/01/14 14:00:00,MADININAIR,FR02ZAR01,ZAR FORT-DE-FRANCE,FR39017,Bellevue,Périurbaine,O3,Fond,...,65.9,65.900,µg-m3,100.0,100,100.0,A,1,14.601469,-61.085331

In [190]:
data = data.drop(["Date de début", "Date de fin", "code site", "nom site", "unité de mesure", "valeur", "code zas", "Zas"], axis=1)
data.head()

,Organisme,type d'implantation,Polluant,type d'influence,Réglementaire,type d'évaluation,type de valeur,valeur brute,taux de saisie,couverture temporelle,couverture de données,code qualité,validité,Latitude,Longitude
0,GWAD'AIR,Urbaine,O3,Fond,Oui,estimation objective,Max. journalier moy. hor.,61.675,100.0,100,100.0,R,1,18.070114,-63.081481
1,MADININAIR,Urbaine,O3,Fond,Oui,mesures fixes,Max. journalier moy. hor.,45.400,100.0,100,100.0,A,1,14.610653,-61.002586
2,MADININAIR,Périurbaine,O3,Fond,Oui,mesures fixes,Max. journalier moy. hor.,68.975,100.0,100,100.0,A,1,14.468869,-60.927417
3,MADININAIR,Urbaine,O3,Fond,Oui,mesures fixes,Max. journalier moy. hor.,55.250,100.0,100,100.0,A,1,14.678025,-60.939056
4,MADININAIR,Périurbaine,O3,Fond,Oui,mesures fixes,Max. journalier moy. hor.,65.900,100.0,100,100.0,A,1,14.601469,-61.085331

In [191]:
data.describe()

,valeur brute,taux de saisie,couverture temporelle,couverture de données,validité,Latitude,Longitude
count,271.000000,271.0000,271.000000,271.000000,271.000000,271.000000,271.000000
mean,49.176814,97.9631,99.808118,97.774908,0.970480,43.560609,2.014250
std,14.755263,9.8837,1.553994,9.997642,0.241629,12.741723,15.350783
min,4.366670,5.0000,79.000000,5.000000,-1.000000,-21.334406,-63.081481
25%,40.200000,100.0000,100.000000,100.000000,1.000000,43.929438,0.802225
50%,48.100000,100.0000,100.000000,100.000000,1.000000,46.211666,3.173611
75%,57.362500,100.0000,100.000000,100.000000,1.000000,48.697435,5.565402
max,97.350000,100.0000,100.000000,100.000000,1.000000,51.032761,55.582620

In [192]:
data.isnull().sum()

Organisme                0
type d'implantation      0
Polluant                 0
type d'influence         0
Réglementaire            0
type d'évaluation        0
type de valeur           0
valeur brute             0
taux de saisie           0
couverture temporelle    0
couverture de données    0
code qualité             0
validité                 0
Latitude                 0
Longitude                0
dtype: int64

In [193]:
from sklearn.model_selection import train_test_split

target = "valeur brute"

X = data.drop(target, axis=1)
y = data[[target]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

y_test.head()

     valeur brute
30         38.700
116        66.225
79         52.700
127        41.050
196        43.650

In [194]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_features = X_train.select_dtypes(include='number').columns.tolist()
categoric_features = X_train.select_dtypes(include='object').columns.tolist()

feature_encoder = ColumnTransformer(transformers=[
  ('num', StandardScaler(), numeric_features),
  ('cat', OneHotEncoder(), categoric_features)
])

X_train = feature_encoder.fit_transform(X_train)
X_test = feature_encoder.transform(X_test)

print(X_train)

[[-1.00182316  0.11629576 -0.96859957 ...  0.          0.
   1.        ]
 [ 0.20036463  0.11629576  0.2189095  ...  1.          0.
   0.        ]
 [ 0.20036463  0.11629576  0.2189095  ...  1.          0.
   0.        ]
 ...
 [ 0.20036463  0.11629576  0.2189095  ...  1.          0.
   0.        ]
 [-0.34608436  0.11629576 -0.32086735 ...  1.          0.
   0.        ]
 [ 0.20036463  0.11629576  0.2189095  ...  1.          0.
   0.        ]]

In [195]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [196]:
y_train_pred = model.predict(X_train)

y_test_pred = model.predict(X_test)
print(y_train_pred)
print(y_test_pred)

[[55.65118408]
 [37.58026123]
 [41.6864624 ]
 [44.61688232]
 [53.88043213]
 [43.0446167 ]
 [37.07635498]
 [40.9130249 ]
 [90.11346436]
 [41.57122803]
 [43.26629639]
 [67.98284912]
 [47.64959717]
 [ 8.03631592]
 [45.52386475]
 [50.65179443]
 [50.8916626 ]
 [47.82415771]
 [38.19451904]
 [42.5980835 ]
 [45.59393311]
 [28.61676025]
 [61.59674072]
 [44.17498779]
 [63.25762939]
 [66.16326904]
 [42.57025146]
 [59.21746826]
 [59.23114014]
 [39.4118042 ]
 [41.78009033]
 [63.87762451]
 [43.71844482]
 [37.5512085 ]
 [43.12835693]
 [37.85955811]
 [59.8381958 ]
 [44.38934326]
 [45.20623779]
 [48.21917725]
 [47.76397705]
 [41.49127197]
 [61.31048584]
 [45.81756592]
 [38.80584717]
 [52.85467529]
 [36.85437012]
 [55.65594482]
 [45.56951904]
 [37.50054932]
 [60.08453369]
 [46.93817139]
 [38.12908936]
 [58.02630615]
 [59.31011963]
 [58.95257568]
 [49.74676514]
 [52.47399902]
 [57.49224854]
 [61.50164795]
 [50.35662842]
 [44.65545654]
 [44.05194092]
 [59.77789307]
 [40.41448975]
 [31.2802124 ]
 [44.11053467]
 [46.99530029]
 [58.08685303]
 [43.50213623]
 [36.26531982]
 [64.12713623]
 [44.0569458 ]
 [58.40509033]
 [63.878479  ]
 [44.23699951]
 [45.13104248]
 [52.17010498]
 [40.60003662]
 [54.73626709]
 [60.85845947]
 [63.09637451]
 [71.99578857]
 [43.76800537]
 [44.81085205]
 [45.18890381]
 [41.38238525]
 [49.12213135]
 [48.72186279]
 [40.12908936]
 [59.02722168]
 [70.17889404]
 [44.43182373]
 [56.06317139]
 [63.41619873]
 [45.12860107]
 [59.32220459]
 [56.45574951]
 [63.96087646]
 [58.61639404]
 [48.2399292 ]
 [38.3649292 ]
 [42.31494141]
 [56.26959229]
 [61.48968506]
 [58.57305908]
 [59.86273193]
 [46.19207764]
 [44.88079834]
 [45.24993896]
 [40.16937256]
 [35.13269043]
 [26.85760498]
 [47.15447998]
 [49.41595459]
 [47.02362061]
 [46.08099365]
 [46.04046631]
 [53.67462158]
 [33.00994873]
 [63.54302979]
 [53.80682373]
 [44.56195068]
 [62.22467041]
 [55.14544678]
 [49.33172607]
 [45.15026855]
 [57.33917236]
 [54.14440918]
 [48.61444092]
 [62.59283447]
 [54.61578369]
 [27.33636475]
 [69.28753662]
 [64.43048096]
 [53.83349609]
 [45.04315186]
 [63.14532471]
 [45.67474365]
 [69.53338623]
 [30.88006592]
 [56.25653076]
 [56.49945068]
 [32.324646  ]
 [39.22576904]
 [56.44110107]
 [47.74798584]
 [69.80877686]
 [26.94940186]
 [56.6973877 ]
 [63.89129639]
 [46.36810303]
 [73.79864502]
 [49.96160889]
 [35.80975342]
 [63.10467529]
 [55.79064941]
 [49.85681152]
 [57.63397217]
 [58.28509521]
 [59.39764404]
 [42.58221436]
 [45.84051514]
 [55.41009521]
 [67.03729248]
 [46.4788208 ]
 [28.67584229]
 [64.80389404]
 [44.24945068]
 [45.48138428]
 [42.71282959]
 [55.19744873]
 [62.05926514]
 [37.76043701]
 [48.18450928]
 [39.62103271]
 [48.8270874 ]
 [46.79168701]
 [26.92913818]
 [41.60784912]
 [29.00775146]
 [50.44708252]
 [55.40826416]
 [49.43206787]
 [50.78582764]
 [42.88134766]
 [52.85992432]
 [75.11004639]
 [50.22601318]
 [44.66046143]
 [23.05291748]
 [71.33673096]
 [32.27972412]
 [51.27557373]
 [41.35345459]
 [59.57928467]
 [31.50164795]
 [41.61077881]
 [45.54071045]
 [44.20928955]
 [44.15130615]
 [50.49627686]
 [34.92919922]
 [40.63934326]
 [39.95153809]
 [47.18157959]
 [54.19024658]
 [48.76068115]
 [56.81756592]
 [63.08929443]
 [48.67474365]
 [48.05725098]
 [52.77740479]
 [44.41009521]
 [49.40081787]
 [52.13592529]]
[[5.93410034e+01]
 [7.59533081e+01]
 [6.18261108e+01]
 [4.13724976e+01]
 [4.58629761e+01]
 [5.11749878e+01]
 [4.01917114e+01]
 [2.68978882e+01]
 [4.68080444e+01]
 [5.29386597e+01]
 [4.23485718e+01]
 [2.36925659e+01]
 [3.63912964e+01]
 [4.57277222e+01]
 [3.92013550e+01]
 [4.36583862e+01]
 [3.44035034e+01]
 [5.88126831e+01]
 [5.27559204e+01]
 [2.87177124e+01]
 [5.71482544e+01]
 [4.34310913e+01]
 [2.70394897e+01]
 [5.78844604e+01]
 [5.31754761e+01]
 [6.88087769e+01]
 [4.10742188e+01]
 [4.38663940e+01]
 [4.27208862e+01]
 [5.15281982e+01]
 [4.19223022e+01]
 [4.12860718e+01]
 [5.83224487e+01]
 [5.41358032e+01]
 [5.71315308e+01]
 [3.52124634e+01]
 [6.13344116e+01]
 [4.38800659e+01]
 [6.48619995e+01]
 [7.44923706e+01]
 [3.77304077e+01]
 [4.86249390e+01]
 [4.11085815e+01]
 [4.61355591e+01]
 [5.60060425e+01]
 [5.53892212e+01]
 [6.15299683e+01]
 [5.55939331e+01]
 [7.39782104e+01]
 [7.32699585e+01]
 [6.59835815e+01]
 [5.22433472e+01]
 [3.79547729e+01]
 [3.19319166e+09]
 [8.22462769e+01]]

In [197]:
a = model.score(X_train, y_train)
b = model.score(X_test, y_test)

print(a, b)

0.5484942746484089 -870427156645726.5